<h1>Show all Landmarks</h1>

<% @landmarks.each do |landmark| %>
<P><%= landmark.name %>
   <% landmark.titles.each do |title| %>
   <%= title.name %>
   <%end%>
   <% landmark.figures.each do |figure| %>
   <%= figure.name %></p>
   <%end%>
 <%end%>